body {
    margin: 0;
    padding: 0;
    background-color: #2980b9;
}

.container {
    width: 90vw;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eee;
}

.search-container {
    width: 40%;
    min-width: 300px;
    max-width: 600px;
}

.display-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}

#search-input {
    width: 100%;
    font-size: 1.4rem;
    border-radius: 5px;
    padding: 2px;
}

.header-container {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

.header {
    border-bottom: 1px solid #eee;
}

.header-item-button {
    flex-shrink: 1;
    font-size: 1.1rem;
    margin-right: 1px
}

.row-item {
    grid-template-columns: repeat(6, 1fr);
    border-bottom: 1px solid white;
}